.orb-canvas {
  position: fixed;
  inset: 0;
  // z-index: 10;
  // background-color: black;
  z-index: -3;
  display: none;
  @include atMedium {
    display: block;
  }
}

.video-background,
.section-background {
  @include atMedium {
    display: none !important;
  }
}
