.profile-courses-list {
  h2 {
    margin-top: rwd(64, 96);
    margin-bottom: rwd(24, 36);
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: rwd(32, 64);
    row-gap: rwd(64, 96);

    @include atSmallMedium {
      grid-template-columns: 1fr 1fr;
    }

    &::before {
      display: none !important;
    }
    .book {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      text-align: center;

      &__excerpt {
        margin-bottom: 16px;
      }

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: rwd(20, 26);
        width: 100%;
        border-radius: 16px;
      }
      h3 {
        margin-bottom: rwd(12, 18);
        a {
          text-decoration: none !important;
        }
      }

      &__price {
        font-size: rwd(24, 36);
        font-weight: 600;
        color: $color-secondary;
        margin-top: rwd(8, 12);
        align-self: center;
        display: flex;
        align-items: center;
        bdi {
          display: flex;
          align-items: center;
          span {
            font-size: rwd(14, 18);
            font-weight: 400;
          }
        }
        del {
          font-size: rwd(14, 18);
          color: #2754c9;
          margin-left: 20px;
        }
      }
      &__add_to_cart {
        margin-top: rwd(8, 12);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .btn {
        margin-top: auto;
        grid-column: span 2;
      }
      &__premiere-tag {
        display: none;
      }
    }
  }
}
