.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    @include atMedium {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    &--responsive-reverse {
      @include atMedium {
        flex-direction: column-reverse;
        ;
      }
    }
  
    &__column {
  
      &--1-12 {
        width: 8.333%;
      }
  
      &--2-12 {
        width: 16.666%;
      }
  
      &--3-12 {
        width: 25%;
      }
  
      &--4-12 {
        width: 33.333%;
      }
  
      &--5-12 {
        width: 41.666%;
      }
  
      &--6-12 {
        width: 50%;
      }
  
      &--7-12 {
        width: 58.333%;
      }
  
      &--8-12 {
        width: 66.666%;
      }
  
      &--9-12 {
        width: 75%;
      }
  
      &--10-12 {
        width: 83.333%;
      }
  
      &--11-12 {
        width: 91.666%;
      }
  
      &--12-12 {
        width: 100%;
      }
  
  
      &--1-12,
      &--2-12,
      &--3-12,
      &--4-12,
      &--5-12,
      &--6-12,
      &--7-12,
      &--8-12,
      &--9-12,
      &--10-12,
      &--11-12 {
        display: flex;
        @include atMedium {
          width: 100%;
        }
      }

    }
  }