.select-paczkomat-button {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.tpay-pbl {
  .tpay-item {
    > div {
      height: 100%;
      > div {
        background-color: white;
        height: 100%;
        transition: 0.3s;
      }
    }
  }
}

.tpay-pbl-container .tpay-pbl .tpay-item input:checked + div > div {
  box-shadow: 0px 0px 20px -2px $color-secondary;
  transition: 0.3s;
  transform: scale(1.2);
}
